@font-face {
    font-family: 'Road Rage';
    src: url('RoadRage.eot');
    src: url('RoadRage.eot?#iefix') format('embedded-opentype'),
        url('RoadRage.woff2') format('woff2'),
        url('RoadRage.woff') format('woff'),
        url('RoadRage.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Road Rage';
    src: url('RoadRage_1.eot');
    src: url('RoadRage_1.eot?#iefix') format('embedded-opentype'),
        url('RoadRage_1.woff2') format('woff2'),
        url('RoadRage_1.woff') format('woff'),
        url('RoadRage_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

