body {margin: 0; padding: 0; box-sizing: border-box;}
h1 {font-size: 0;}

.cabecalho {width: 950px; height: 200px; margin-right: auto; margin-left: auto; background-color: blue;}

.navegacao-cabecalho {}
.navegacao-cabecalho a {text-decoration: none; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 20px; font-weight: bold; text-transform: capitalize; color: white; background-color: #970000; padding: 15px; margin: 0; display: block; float: left; border: 0;}
img.fundo {margin-top: -150px;}

8