* {margin: 0; padding: 0;}
body {font-family: Helvetica, 'Trebuchet MS', sans-serif; background: #fff url(../imagem/bg.png); margin: 15px;}
a {text-decoration: none;}

#container {background: #ede9cc; margin: 0 auto; min-width: 740px; max-width: 1180px;}
#topo {background: #dbcd87; height: 15.4em; min-height: 250px; position: relative;}
#area-logo {background: url(../imagem/topo-imagem-principal.png) no-repeat; width: 100%; height: 250px; position: absolute; z-index: 1; top: 0; left: 0;}
.logo a {position: absolute; top: 15px; left: 15px; z-index: 3; background: url(../imagem/logo.png) no-repeat; width: 151px; height: 66px; text-indent: -1000px;}
#area-menu {background: url(../imagem/topo-imagem-lateral.png) no-repeat; width: 450px; height: 250px; position: absolute; z-index: 2; top: 0; right: 0;}
#conteudo-menu {margin-left: 90px; margin-right: 15px;padding-top: 15px;}
#menu-locais {border-bottom: 1px solid #b5ab56; border-top: 1px solid #b5ab56; padding-top: 5px; padding-bottom: 5px; font-size: 0.7em; color: #8b8448;}
#menu-locais .locais {float: left; line-height: 2.1em;}
#menu-locais a.reserva {text-transform: uppercase; background: #a29750; color: #fff5b0; padding: 5px 10px; float: right;}
#menu {margin-top: 15px;}
ul {list-style-type: none;}
ul#navegacao {float: left;}
ul#navegacao a {text-transform: uppercase; font-size: 0.8em; padding: 5px; color: #6e672c; line-height: 30px;}
ul#navegacao a:hover {background: #fdf6be;}
.depoimento {width: 226px; height: 164px; float: right;}

